extends layout

block content
  h1 Account management for #{user.username}
  p You have logged in #{user.logincnt} times. You have currently the rank #{rank}.
  h3 Edit account data
  .container
    form(method='POST', action='/update')
      #form-group
        label Nickname:
        input#displayname.form-control(name='displayname',type='text', value=user.displayname)
        small#depositHelp.form-text.text-muted The nickname is the name being displayed in games or on leaderboards
      #form-group
        label Username:
        input#username.form-control(name='name', type='text', value=user.username, disabled=true)
      #form-group
        label Email:
        input#email.form-control(name='email', type='text', value=user.email)
      #form-group
        label Your ATH mainacount
        input#athaddr.form-control(name='athaddr',type='text', placeholder="0x...", value=user.athaddr, disabled)
        <small id="depositHelp" class="form-text text-muted">This is Your transfer account You have received from us. Use this one as a destination address to fund Your games.</small>
      #form-group
        label Your current funding
        input#athaddr.form-control(name='amount',type='text', value=amount, disabled)
        input.btn.btn-primary(type='submit',value='Submit')
        p

  h3 Edit password
  .container
    form(method='POST', action='/updatepassword')
      #form-group
        label Password:
        input.form-control(name='password',type='password')
      #form-group
        label Confirm:
        input.form-control(name='password2',type='password')
      br
      input.btn.btn-primary(type='submit',value='Submit')
  p
  h3 Delete account
  .container
    When You delete Your account Your ATH will be lost and this step is irrevisible. In order to process the deletion You need to enter below the code 007
    form(method='POST', action='/delete')
      #form-group
        label Confirmation code:
        input.form-control(name='password',type='text')
      br
      input.btn.btn-primary(type='submit',value='Delete Account')