extends layout

block content
  h1 Edit game assets
  .container
    h2 Fixed asset data
    form(method='POST', action='/game_edit')
      .container
        #form-group
        label Game name:
        input.form-control(name='gamename', type='text', value=gamename, readonly=true)
        small#depositHelp.form-text.text-muted Please select a name for Your game. Keep it simple so that You can easily identify the game.
        br
        #form-group
        .input-group-prepend
          .input-group-text.alert-success Game token:
          input#gametoken.form-control(name='gametoken', type='text',aria-describedby='inputGroupPrepend', value=gametoken, readonly=true)
          button.btn-outline-success(type="button", onclick="myFunction('gametoken')") Copy
          script.
            function myFunction(inputvar) {
              var copyText = document.getElementById(inputvar);
              copyText.select();
              document.execCommand("copy");
            }
        small#depositHelp.form-text.text-muted This is Your game token
        br
        #form-group
        .input-group-prepend
          .input-group-text.alert-success Game secret:
          input#gamesecret.form-control(name='gamesecret', type='text', aria-describedby='inputGroupPrepend', value=gamesecret, readonly=true)
          button.btn-outline-success(type="button" onclick="myFunction('gamesecret')") Copy
        small#depositHelp.form-text.text-muted This is Your game secret
        br
        #form-group
        label Game ATH account:
        input.form-control(name='gameathaddr', type='text', value=gameathaddr, readonly=true)
        small#depositHelp.form-text.text-muted This is Your allocated ATH account number
        br
      h2 Configurable asset data
      .container
        h3 Wage
        #form-group
        label Waging (in ATH)
        select.custom-select(name='wage')
          !=wageoptions
        small#depositHelp.form-text.text-muted This is the wage which You ask for this game.
        br

        h3 Fund schemes
        #form-group
        label Distribution scheme (in percent)
        select.custom-select(name='scheme')
          !=schemeoption
        small#depositHelp.form-text.text-muted The distribution scheme is the way how You return ATH after a play period. You can choose from 50% up to 100%.
          | In the case of 50% only 50% of the collected ATH will be redistributed to the players, 50% goes to You.
        br
        #form-group
        label Player distribution scheme (in percent)
        br
        label Player 1
        select.custom-select(name='player1')
          !=player1option
        label Player 2
        select.custom-select(name='player2')
          !=player2option
        label Player 3
        select.custom-select(name='player3')
          !=player3option
        label Player 4
        select.custom-select(name='player4')
          !=player4option
        label Player 5
        select.custom-select(name='player5')
          !=player5option
        small#depositHelp.form-text.text-muted Within the player distribution You can choose how to distribute between the top 5 players. Note that the sum must be always 100%
          | You can also choose to limit the number of players which can get access to the funds by setting the equivalent player to 0%
        br
        #form-group
        label Gaming periode (in days)
        select.custom-select(name='periode')
          !=periodeoption
        small#depositHelp.form-text.text-muted Here You define a gaming period after which the leader boards are getting resolved and ATH is distributed. IT is recommended to start with a week and then to reduce it, depending on the popularity of the game.
        br
      h3 Game info
      .container
        #form-group
        label Game name:
        input.form-control(name='gamename2', type='text', value=gamename, maxlength='80')
        small#depositHelp.form-text.text-muted Please select a name for Your game. Keep it simple so that You can easily identify the game.
        br
        label Game description (max 512 char):
        textarea.form-control(name='gamedesc', rows='8', cols='64', maxlength='512')
          !=gamedesc
        small#depositHelp.form-text.text-muted Please enter a description, the game idea. Basically a description of the game.
        br
        #form-group
        label Game URL (including http:// or https://):
        input.form-control(name='gameurl', type='text', size='255' value=gameurl)
        small#depositHelp.form-text.text-muted Enter the complete URL with https:// or http://. If no URL is yet available, leave it empty
        br

      input.btn.btn-primary(type='submit',value='Update')

