extends layout

block content
  h3 Edit game assets
  .container
    form(method='POST', action='/game_edit')
      #form-group
      label Game name:
      input.form-control(name='gamename', type='text', value=gamename)
      small#depositHelp.form-text.text-muted Please select a name for Your game. Keep it simple so that You can easily identify the game.
      br
      #form-group
      label Game token:
      input.form-control(name='gametoken', type='text', value=gametoken, readonly=true)
      small#depositHelp.form-text.text-muted This is Your game token
      br
      #form-group
      label Game ATH account:
      input.form-control(name='gameathaddr', type='text', value=gameathaddr, readonly=true)
      small#depositHelp.form-text.text-muted This is Your allocated ATH account number
      br
      #form-group
      label Distribution scheme (in percent)
      select.custom-select(name='scheme')
        !=schemeoption
      small#depositHelp.form-text.text-muted The distribution scheme is the way how You return ATH after a play periode. You can choose 50 for 50% up to 100%. In the case of 50% only 50% of the collected ATH will be redistributed to the players. Currently the redistribution is according to the following scheme: half of the redistributed pot goes to the leader, 30% to the 2nd and 20% to the third person.
      br
      #form-group
      label Gaming periode (in days)
      select.custom-select(name='periode')
        !=periodeoption
      small#depositHelp.form-text.text-muted Here You define a gaming periode after which the leader boards are getting resolved and ATH is distributed. IT is recommended to start with a week and then to reduce it, depending on the popularity of the game.
      br
      input.btn.btn-primary(type='submit',value='Submit')
      small#depositHelp.form-text.text-muted When submitting a couple of things are going to happen. You will get a game id allocated, You also get an ATH gaming account for this game. Everything is free of charge and can be revoked.

